receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024
  filter:
    error_mode: ignore
    traces:
      span:
        # Filter out spans with name 'filterme'
        - 'name == "filterme"'
        # Filter out spans with duration > 1 minute (60 seconds)
        # Duration is calculated as end_time - start_time (both in nanoseconds)
        # 60 seconds = 60000000000 nanoseconds
        - '(end_time_unix_nano - start_time_unix_nano) > 60000000000'

exporters:
  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200
  otlphttp:
    endpoint: https://api.honeycomb.io
    headers:
      x-honeycomb-team: ${env:HONEYCOMB_API_KEY}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [filter, batch]
      exporters: [otlphttp]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp]
